<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ReOrz Bot</title>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<div class="content">
    <h1>Welcome to ReOrz Bot!</h1>
    <p>Please visit <a href="https://github.com/Acris/telegram-bot" target="_blank">https://github.com/Acris/telegram-bot</a>
        for more information.</p>
</div>
</body>
</html>
